<table id="clientes" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display">
  <thead>
  <tr>
    <th>Raz&oacute;n Social</th>
    <th>Email</th>
    <th>Tel&eacute;fono</th>
    <th>Pa&iacute;s</th>
    <th>Provincia</th>
    <th>Localidad</th>
    <th>Gesti&oacute;n</th>
    <th>Fecha Ult. Gesti&oacute;n</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
</tbody>
</table>