<div class="contForm">

<h2>Editar Licencia</h2>
<div class="formCentrado">
<% if @cliente_licencia.first.nil? %>
	Estado: <span style="font-weight:bold;color:green">Disponible</span>
<% else %>
	Estado : Asignada a <span style="font-weight:bold;color:red"><%= @cliente_licencia.first.cliente.razonSocial %></span>
<% end %>
</div>
<%= render 'form' %>



</div>