<%= simple_form_for([@pais,@provincia,@localidad], :html => {:class => 'formPrincipal'}) do |f| %>

    <h3>Formulario de Registro de Localidades</h3>
      <hr />

  <%= f.input :codigo, label: 'Código de Localidad' %>
  <%= f.input :descripcion,label: 'Localidad' %>
  <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>

<% end %>
