<h1>Editing clientes_licencias_productos_productos_modulo</h1>

<%= render 'form' %>

<%= link_to 'Show', @clientes_licencias_productos_productos_modulo %> |
<%= link_to 'Back', clientes_licencias_productos_productos_modulos_path %>
