 <div style="text-align:center;margin-top:50px">
    <div class="hero-unit">
        <div class="textCenter">
			<%= image_tag('shamanUpdater.png') %>
			<p id="titleIndex">Shaman SGE - Gesti&oacute;n del Negocio</p>
		</div>
    </div>