/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_tree .
*/

@import "bootstrap";
@import "bootstrap-responsive";

body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:18%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

/***** PARA EL DISEÑO DE LAS GRID ******/

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 300px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

.dataTables_info {

    display:none;
}

/******** HOVER DE LA TABLA ******/


.hoverTabla {

    background-color: #ECFFB3 !important;
}

/************************/

.contenedorPrincipal {
    
    background:#eeeeee;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.btnNuevo {
    
    margin-top:10px;
}

.formPrincipal {
    
    text-align:center;
    background:#eeeeee;
    padding-top:15px;
    padding-bottom:15px;

}

.formPrincipal label {
    
    font-weight:bold;
}

/******* LOGIN FORM *************/

#new_user {

    width:14em;
    margin:0px auto;
}

#loginTitle {

    text-align:center;
}

#lnkNewPassword {

    text-align:center;
}

.boolean{
    float: left;
    padding-bottom:8px;

}

.boolean.optional.control-label {

    margin-right:30px;
}

.formCentrado {

    width:400px;
    margin:0px auto;
    padding-top:30px;
}

.contForm {

    background-color:#eeeeee;
}

h2 {

    text-align:center;
}