/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require dataTables/src/demo_table_jui
 *= require_tree .

 */
 
@import "bootstrap";
@import "bootstrap-responsive";

 body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:18%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

/***** PARA EL DISEÑO DE LAS GRID ******/

table {
    
    font-size:12px;
}

.fg-toolbar {
    
    height:32px;
    width:690px;

}

.dataTables_length {
    
    height: 30px;
    width:300px;
    display:none;
}

.dataTables_filter {

    height:30px;

}

.dataTables_info {
    
    display:none;
}

.dataTables_paginate {
    
    font-size:12px;
}

/************************/

.contenedorPrincipal {
    
    background:#eeeeee;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.btnNuevo {
    
    margin-top:10px;
}

.formPrincipal {
    
    text-align:center;
    background:#eeeeee;
    padding-top:15px;
    padding-bottom:15px;

}

