<%= simple_form_for([@pais,@provincia], :html => {:class => 'formPrincipal'}) do |f| %>

    <h3>Formulario de Registro de Provincias</h3>
      <hr />

  <%= f.input :codigo, label: 'Código de Provincia' %>
  <%= f.input :descripcion,label: 'Provincia' %>
  <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>

<% end %>
